.FilmPage {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.FilmPage-container {
  width: 90%;
}
.category-section {
  padding-top: 8rem;
}
.FilmPage-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.FilmPage-category::after{
  content:"";
  display: inline-block;
  width:31.5%;
}
.category-title {
  font-family: 'Charm', cursive;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  text-align: right;
}
.FilmPage-content {
  max-width: calc((100vw - 16%) /3);
  height:auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.FilmPage-position img:hover {
  transform: scale(1.2);
  filter: brightness(110%);
  opacity: 0.6;
  transition-duration: 0.5s;
}
.film-title {
  width: 400px;
  height: auto;
  padding-top: 1.3%;
}
.film-title h4 {
  font-family: "adobe-garamond-pro", Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.film-title h6 {
  color:#c03a2b;
  font-family: "adobe-garamond-pro", Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding-bottom: 70px;
}
.film-title h4:hover {
  color: black;
}

@media screen and (max-width: 1350px) {
  .FilmPage-content {
    max-width: calc((100vw - 16%) /2);
  }
  .film-title {
    padding-top: 2.3%;
  }
  .FilmPage-position picture {
    width: 942px;
  }
}
@media screen and (max-width: 992px) {
  .FilmPage-container {
    width: 95%;
  }
  .FilmPage-content {
    max-width: 100%;
    height:auto;
    margin: 0 auto;
    flex-grow:unset;
    text-align: center;
  }
  .category-section {
    padding-top: 68px;
  }
  .FilmPage-position {
    max-width: 992px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .category-title {
    font-family: 'Charm', cursive;
    font-weight: 800;
    font-size: 20px;
    color: black;
    text-align: right;
  }
  .FilmPage-position picture {
    width: 392px;
  }
  .FilmPage-position img:hover {
    transform: scale(1);
  }
  .film-title {
    box-sizing: border-box;
    width: 100%;
  }
  .film-title h4 {
    margin: 0;
    text-align: left;
  }
  .film-title h6 {
    padding-bottom: 1rem;
    margin: 0;
    text-align: left;
    padding-bottom: 50px;
  }
}