.FilmDetails {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 7.5rem;
  position: relative;
}
.FilmDetails .container{
  width: 100%;
}
.FilmDetails .top {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.image-content {
  display: flex;
  flex-direction: column;
  width: 75%;
}
/* swiper */
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fade-in {
  /* position: absolute;
  top: 0;
  left: 0; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: fade-in-image 0.5s ease-in-out;
}
.current-image {
  opacity: 1;
}
.next-image {
  animation-delay: 2.5s; /* 現在の画像がフェードアウトするまでの遅延時間 */
}

@keyframes fade-in-image {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* image */
.FilmDetails-right-position {
  position: relative;
} 
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-container::before {
  display: block;
  padding-top: 56%;
  content: '';
}
.image-container img{
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* text-on-image */
.text-on-image {
  max-width: 30%;
  position:absolute;
  top:4%;
  left: 2.5%;
  color: white;
  line-height: 1.2rem;
  z-index: 20;
}
.text-on-image h1 {
  padding-bottom: .8rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  text-shadow: rgba(2, 2, 2, 0.5) 1px 0 3px;
}
.directedBy {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .06rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-shadow: rgb(83, 83, 83, .5) 1px 0 3px;
}
.createdYear {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .06rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-shadow: rgb(83, 83, 83, .5) 1px 0 3px;
}

.copyright-on-image {
  position: absolute;
  bottom:3%;
  right: 1%;
  line-height: 80%;
  color: white;
} 

/* Original title */
.title-content {
  width: 25%;
  display: flex;
  justify-content: right;
}
.FilmDetails-originalTitle-container {
  position: relative;
  width: 80%;
  height: 100%;
}
.FilmDetails-originalTitle-content {
  position: absolute;
  top: 3.8%;
  right: 7%;
  text-align: right;
}
.FilmDetails-originalTitle {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  color: rgb(0, 0, 0);
  word-wrap:break-word;
  word-spacing: -.5;
}
.reduce-size {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.FilmDetails-category {
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: var(--color-red);
  line-height: 3.5rem;
  font-size: 1rem;
}

/* bottom */
.bottom {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  gap: 32px;
}
.ul-left {
  flex:1;
  width: 100%;
}
.ul-left .ul-col {
  box-sizing: border-box;
  display: flex;
}
.ul-left .ul-col div {
  flex:1;
}


.ul-right {
  flex:1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ul-left li:nth-child(odd) h5, .ul-right li:nth-child(odd) h5 {
  color: #000000;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
 }
 .ul-left li:nth-child(even), .ul-right li:nth-child(even) {
   font-size: 1em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   color: #000000;
   letter-spacing: .05rem;
   white-space: pre-wrap;
   margin-bottom: 2rem;
   line-height: 1.2rem;
   padding-right: 2rem;
 }

.FilmDetails-li-videoOnDemand {
  display: flex;
  flex-direction: column;
}
.FilmDetails-li-videoOnDemand a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9rem;
  color: var(--color-red);
  font-weight: 700;
  text-decoration:underline;
}
.FilmDetails-li-videoOnDemand a:hover {
  color: var(--color-gray8);
}


.button-showDownload, .button-showClick {
  margin-top: 2rem;
}
.button-showDownload button, .button-showClick button {
  background-color: transparent !important;
  color: var(--color-red);
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: 800;
  font-size: .9rem;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .05rem;
}
.button-showDownload a, .button-showClick a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--color-red);
}
.button-showDownload button:hover, .button-showClick button:hover,
.button-showDownload a:hover, .button-showClick a:hover {
  color: var(--color-gray8);
}


/* flesh */
.flesh-left {
  font-size: 2rem;
  color: var(--color-gray);
  text-shadow: rgb(83, 83, 83, .5) 1px 0 3px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 20;
}
.flesh-right {
  font-size:  2rem;
  color: var(--color-gray2);
  text-shadow: rgb(83, 83, 83, .5) 1px 0 3px;
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 20;
}



/* SMARTPHONE & TABLETTE ==================================================*/
@media screen and (max-width: 992px) {
  .FilmDetails {
    padding-top: 78px;
  } 
  .FilmDetails .container {
    max-width: 100%;
  }
  .FilmDetails .top {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
  }

  /* image */
.image-content {
  width: 100%;
}
.FilmDetails-right-position {
  position: relative;
}
/* .image-container-solo {
  position: unset;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}
.image-container-solo::before {
  display: unset;
  padding-top: unset;
  content: unset;
}
.image-container-solo img {
  display: unset;
  max-width: 100%;
  height: 298px;
  position: unset;
  top: unset;
  left: unset;
  overflow: hidden;
  object-fit: cover;
} */
/* text for image */
.text-on-image {
  max-width: 60%;
  top:5%;
  left: 5%;
}
.text-on-image h1 {
font-weight: 400;
font-size: 1.5rem;
line-height: 1.5rem;
}
.directedBy {
  font-size: 1rem;
  line-height: 18px;
}
.createdYear {
  font-size: 1rem;
}
.copyright-on-image {
  right: 2%;
  width: 90%;
  text-align: right;
} 
/* Original title */
.title-content {
  width: 100%;
  justify-content: left;
  padding-top: 10px;
}
.FilmDetails-originalTitle-container {
  position: unset;
  width: 90%;
  margin: 0 auto;
}
.FilmDetails-originalTitle-content {
  position: unset;
  top: unset;
  left: unset;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.FilmDetails-originalTitle {
  font-size: 1.7rem;
  text-align: left;
}
.FilmDetails-category {
  text-align: left;
  line-height: 1.5rem;
}
.reduce-size {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

/* bottom */
.bottom {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: unset;
}
.ul-left .ul-col {
  flex-direction: column;
}
.ul-left {
  flex: none;
}
.ul-right {
  flex:unset;
  margin: 0;
  padding: 0;
}
.flesh-right {
  right: 0;
}
.ul-left li:nth-child(odd) h5, .ul-right li:nth-child(odd) h5 {
  font-size: 13px;
  line-height: 16px;
 }
 .ul-left li:nth-child(even), .ul-right li:nth-child(even) {
   letter-spacing: .05rem;
   white-space: pre-wrap;
   margin-bottom: 18px;
   line-height: 16px;
   font-size: .9rem;
 }
 .button-showDownload button, .button-showClick button {
  margin-bottom: 16px;
}

}