/* ContactPage */
  .contact-title h1 {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  .contact-form {
    margin-bottom: 2rem;
  }
  .contact-form-top {
    display: flex;
    position: relative;
  }
  .contact-form-top .name-form {
    width: 250px;
    height: 50px;
    border-bottom: none;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
  }
  .name-form input {
    width: 249px;
    height: 50px;
    border: none;
    padding: 5px;
    outline: none;
    background-color: transparent;
  }
  .email-form {
    width: 250px;
    height: 50px;
    border-bottom: none;
    border-right: 1px solid gray;
    border-left: none;
    border-top: 1px solid gray;
  }
  .email-form input {
    width: 249px;
    height: 50px;
    border: none;
    padding: 5px;
    outline: none;
    background-color: transparent;
  }
  .message-form {
    height: 300px;
    width: 501px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .message-form textarea {
    height: 298px;
    width: 500px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px;
    font-size: 1rem;
  }
  .send-button {
    display: flex;
    justify-content: left;
  }
  .send-button input {
    padding: 10px 15px 30px 15px;
    background-color: black;
    color: white;
    border: none;
  }

  /* SMARTPHONE & TABLETTE */
@media screen and (max-width: 992px) {
  .contact-form-top {
    flex-direction: column;
  }
  .name-form input {
    width: 100%;
  }
  .contact-form-top .name-form {
    width: 100%;
  }
  .email-form {
    width: 100%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }
  .message-form {
    width: 100%;
  }
  .message-form textarea {
    width: 100%;
    border: none;
  }
}