.Header-container {
  background-color: transparent;
  position: relative;
  transition: all 0.5s ease;
  z-index: 999999;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  flex-direction: column;
}
.header-list a {
  color: #fff;
  text-decoration: none;
  font-family: "garamond-premier-pro, serif";
  font-style: normal;
  font-weight: 00;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.header-list a:hover {
  color: black;
  border-bottom: px solid black;
  padding-top: .2rem;
}
.header-list li {
  display: inline;
  margin-right: 16px;
}
.Header-container > picture {
  padding-left: 3rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Header-container img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
