.Navbar {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.logo-style {
  font-size: calc(5px + 27 * ((100vw - 320px) / 1120));
  font-family: 'Charm', cursive;
  text-align: center;
  font-weight: 800;
  padding-bottom: 1rem;
  color: #000000;
  line-height: calc(14px + 27 * ((100vw - 320px) / 1120));
}
.logo-style:hover {
  color: var(--color-gray8);
}
.logo-style-scroll {
  font-size: calc(5px + 27 * ((100vw - 320px) / 1120));
  font-family: 'Charm', cursive;
  text-align: center;
  padding-bottom: 1rem;
  color: white;
  line-height: calc(14px + 27 * ((100vw - 320px) / 1120));
}
.logo-style-scroll:hover {
  font-size: calc(5px + 27 * ((100vw - 320px) / 1120));
  font-family: 'Charm', cursive;
  text-align: center;
  padding-bottom: 1rem;
  line-height: calc(14px + 27 * ((100vw - 320px) / 1120));
  color: orangered;
}
.Navbar-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  display: flex;
  justify-content: flex-start;
  gap: 1.4rem;
}
.navbar-list-font a {
  color: #000000;
  font-family: "adobe-garamond-pro", Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .1rem;
  display: inline-block;
  padding-bottom: 4px;
  position: relative;
}
.navbar-list a:hover {
  color: #000000;
  text-shadow: .5px .5px .5px gray;
}
.navbar-list a::after {
  background-color: #c03a2b;
  bottom: -3px;
  content: '';
  display: block;
  height: 2.5px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}
.navbar-list a:hover::after {
  width: 100%;
}
.change_langue {
  color: var(--color-red);
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;;
  cursor: pointer;
}
.change_langue:hover {
  color: var(--color-gray8);
}
.Navbar--scroll {
  background: linear-gradient(rgba(0,0,0),rgba(0,0,0,0));
  opacity: 1;
}
.ScrollNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: opacity 0.5s ease-in-out; 
  z-index: 3;
}

.ScrollNavbar--show {
  opacity: 1;
}

.Navbar--scroll .navbar-list a {
  color: rgb(255, 255, 255);
}
.Navbar--scroll .navbar-list a:hover {
  color: white;
  text-shadow: unset;
}
.Navbar--scroll .navbar-list a::after {
  background-color: white;
  bottom: -3px;
  content: '';
  display: block;
  height: 2.5px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}
.Navbar--scroll .navbar-list a:hover::after {
  width: 100%;
}
/* .hamburgerMenu, .overlay {
  display: none;
} */

/* TABLETTE Large *================================================*/
@media (max-width: 992px) {
  .Navbar {
    display: none;
  }
  .hamburgerMenu-top {
    display: inline-block;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color:transparent;
    z-index: 9996;
  }
  .hamburgerMenu-top--scroll {
    background-color:white;
  }
  .logo-style {
    position: absolute;
    top: 13px;
    font-family: 'Charm', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 2rem;
    color: black;
    line-height: 2rem;
  }
  #hamburgerMenu-nav {
    position:fixed;
    z-index: 9995;
    top:0;
    right: -120%;
    width:100%;
    height: 100vh;
    background:white;
    transition: all 0.6s;
  /* overflow: auto; scrollさせたい場合*/
  }
#hamburgerMenu-nav.panelactive{
    right: 0;
}
/*ナビゲーション*/
.overlay_sp_menu {
  position: relative;
}
.overlay_sp_menu .style {
  position: fixed; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: 100vh; 
}
.blur {
  z-index: -1; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.blur style {
  filter: blur(50px);
}
.overlay_sp_menu_text {
  max-width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.overlay_sp_menu_ul {
  width: 80%;
  list-style-type: none;
  margin: 0px;
  padding-right: 0;
  /* font-size: calc(5px + 27 * ((100vw - 320px) / 992)); */
}
.overlay_sp_menu_ul li {
  text-align: center;
  margin-top: 24px;
  /* border-bottom: 2px solid black; */
  line-height: 25px;
  padding-top: 25px;
}
.overlay_sp_menu_ul_sns {
  width: 50%;
  display: flex;
  justify-content: center;
}
.overlay_sp_menu_ul_sns li {
  margin-right: 2rem;
  margin-top: 3rem;
}
.overlay_sp_menu_ul_sns div {
  display: flex;
  flex-direction: row !important;
}
 /* icons */
 .openbtn1{
  position: fixed;
  z-index: 9999;
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 70px;
  height:70px;
}
/*×に変化*/
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 2px;
  background-color:var(--color-gray8);
  width: 45%;
  border-radius: 2px;
  }
.openbtn1 span:nth-of-type(1) {
  top:22px; 
  width: 50%;
}
.openbtn1 span:nth-of-type(2) {
  top:29px;
  width:30%;
}
.openbtn1.active span:nth-of-type(1) {
  top: 20px;
  left: 16px;
  transform: translateY(6px) rotate(-45deg);
  width: 35%;
}
.openbtn1.active span:nth-of-type(2) {
  top: 32px;
  left: 16px;
  transform: translateY(-6px) rotate(45deg);
  width: 35%;
}
}

