/* @import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
  --color-red:#c0392b;
  --color-red2:#c03a2b;
  --color-pink:#e3a29b;
  --color-pink2:#c50f4a;
  --color-pink3:#e91e63;
  --color-gray:#d5d8db;
  --color-gray1:#f1f2f3;
  --color-gray2:#ededed;
  --color-gray3:#f8f8f8;
  --color-gray4:#f6f1eb;
  --color-gray5:#eeeeee;
  --color-gray6:#6E6E6E;
  --color-gray7:#555657;
  --color-gray8:#c3c3c3;
  --color-kahki:#b0b39a;
  --color-brown:#cebda1;
  --color-green:#b2f7d3;
  --color-green2:#7bf0b7;
  --color-green3:#5feeab;
  --color-blue:#02a1e6;
}
/* 
font-family: 'Nunito', sans-serif;
font-family: 'Charm', cursive;
'Helvetica Neue', Arial, Helvetica, sans-serif;
'Helvetica 65 Medium', sans-serif;
'Source Sans Pro', sans-serif;
"adobe-garamond-pro", Georgia, 'Times New Roman', Times, serif;
'Roboto', sans-serif;
'Benton Sans-Thin', sans-serif;
'Open Sans', sans-serif;
font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  flex: 1;
  animation: fadein 3s forwards;
}
@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}
main{
  flex: 1;
  padding-bottom: 100px;
}
header {
  width: 100%;
}
footer {
  width: 100vw;
}
p {
  font-size: 100% ;
  line-height: 2rem;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}

ul, li {
  list-style: none;
}
h1 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2rem;
}
h2 {
  font-size: 1.3em;
  font-weight: 100;
}
h3 {
  font-size: 1.2em;
  font-weight: 100;
}
h4 {
  font-size: 1.1em;
  font-weight: 100;
}
h5 {
  font-size: .9em;
  font-weight: 100;
  line-height: 1.3rem;
  letter-spacing: .05rem;
}
h6 {
  font-size: .8em;
  font-weight: 400;
}
img {
  max-width: 100%;
}
input, textarea {
  padding:.3rem;
}

button {
  color: #fff;
  font-size: 16px;
  background: #333;
  padding: 18px 30px;
  transition: .3s;
  margin: 0 auto;
  display: block;
  width: 180px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
}
button:hover {
  line-height:20px;
  box-sizing:border-box;
  outline: unset;
  background: gray;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
input {
  height: 2rem;
  font-size: 1rem;
}
/* @media screen and (max-width: 992px) {
  footer {
    position: fixed;
  bottom: 0;
  left: 0;
  }
} */
@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #d5d8db;
  }
}
