.HomePage-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.swiper-container {
  overflow: hidden;
}
.swiper-pagination {
  display: none;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;  
}
.slide-img img {
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  object-fit: cover;
}


.static-text {
  display: flex;
  flex-direction: column;
}

.HomePage-text-left {
  width: 70%;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.HomePage-text-left h1 {
  font-family: 'Charm', cursive;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 3px;
}
.HomePage-text-left p {
  color: white;
  font-family: "adobe-garamond-pro", serif;
  font-size: small;
  font-weight: 400;
  font-style: normal;
  line-height: calc(28/19*1em);
  letter-spacing: .1rem;
  margin-bottom: 2.5rem;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 0 3px;
}
.HomePage-lang {
  color: var(--color-red);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(139, 0, 0);
  cursor: pointer;
}
.sns-container {
  color: white;
}
.HomePage-text-right {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 70%;
  right:10%;
  text-align: left;
  z-index: 16;
}
.HomePage-text-right a {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: .9rem;
  letter-spacing: .1rem;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.HomePage-text-right a::after {
  background-color: white;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}
.HomePage-text-right a:hover::after {
  width: 100%;
}




@media screen and (max-width: 510px) {
  .smartphone__area {
    display: none;
  }
 .HomePage-text-left {
    position: absolute;
    top: 30%;
    left: calc(50% - 100px);
  }
  .HomePage-lang {
    position: absolute;
    top: -15%;
    left: 0%;
  }
  .HomePage-text-right {
    top: 50%;
    left: calc(50% - 150px);
    text-align: center;
  }
}



@media (max-width: 720px) {
  .HomePage-text-left {
    width: 80% !important;
  }
  .HomePage-wrap .HomePage-text-left h1 {
    font-size: 38px;
    line-height: calc(29/38*1.5em);
  }
}